.feeds-list 
    display: flex
    flex-direction: column
    gap: 24px

    .feed-tech 
        padding:24px 20px
        color: #24292e
        margin-bottom: 18px
        border-radius: 10px
        border: 1px solid #F1F1F1
        background: #FFF
        box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.07)
        transition: all 0.3s ease 0s
    

    .feed-tech:hover 
        box-shadow: 0px 8px 40px 10px rgba(0, 0, 0, 0.07)
    
    .tech-title 
        font-size: 26px
        font-weight: 700
        margin-bottom: 15px
    

    .tech-desc 
        font-size: 14px
        margin-bottom: 32px
    

